body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(65, 65, 65);
    background-image: url('images/bg-image.jpg');
}
 
.card {
    max-width: 500px;
    margin: 2em auto;
    box-shadow: 0 0 30px rgb(97, 97, 97);
    border-radius: 16px;
    display: flex;
    align-items: center;
    background-color: white;
}

.profile-pic {
    flex: 1;
    padding: 1em 2em 1em 3em;
}

.content {
    flex: 1;
    padding:1em;
}

.profile-pic img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}